<div>
    <div class="element-bg-img"><img [src]="selected.img" alt="" class="img-responsive"></div>
    <div class="element-left-bottom">

        <app-menu [items]="cities" (itemEventClick)="changeCity($event)"></app-menu>

        <div class="village">
            <h3>{{title}}</h3>
            <span class="line"> </span>
            <div class="activity_box">
                <div class="scrollbar" id="style-2">

                    <div *ngFor="let item of weatherItems"> {{item.conditions}} tewrt</div>

                    <!--<div class="activity-row" *ngFor="let item of menu">-->
                        <!--<div class="activity-desc">-->
                            <!--<h5>{{item.display_location.city}}</h5>-->
                            <!--&lt;!&ndash;<p>City: {{item.display_location.}}</p>&ndash;&gt;-->
                            <!--<p>{{item.observation_time}}</p>-->

                            <!--&lt;!&ndash;<h6>Tel:+{{item.tel}}</h6>&ndash;&gt;-->
                        <!--</div>-->
                        <!--<div class="activity-img">-->
                            <!--<ul>-->
                                <!--<li *ngFor="let imgSrc of item.activityImg"><img [src]="imgSrc" alt=""></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="clear"></div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>